<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node Webapp - Pa11i and Codecept - Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="container-fluid h-100">
      <header>
        <nav class="navbar fixed-top navbar-dark bg-dark">
          <a class="navbar-brand" href="/">
            Node Webapp - Pa11i and Codecept
          </a>
          <ul class="nav justify-content-end text-white">
            <li class="nav-item">
            <span class="nav-link">Welcome {{ name }}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="main-content h-100">
        <div class="row h-100">
          <div class="col-sm-12 col-md-12  d-flex mt-5 pt-3">
            <h4>Welcome {{name}}</h4>
          </div>
        </div>
      </section>
      <footer>
        <nav class="fixed-bottom navbar-dark bg-dark">
          <p class="m-0 p-1 text-center small block text-white">All rights Reserved.</p>
        </nav>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>